{% extends "base.html" %}
{% block center_content %}
        {% if project %}
		<h1>Project {{project.name}}</h1>		
		 <div class="row-fluid">
    <div class="span4">
	<div class="sidebar-nav">
	<div class="well" style="width:300px; padding: 8px 0;">
		<ul class="nav nav-list">
		  <li><a href="/project/{{ project.id }}/"> Details</a></li>		
		  <li><a href="/project/{{ project.id }}/edit""> Edit</a></li>
		  <li><a href="#"> Statistics</a></li>
          <li class="active"><a href="/project/{{ project.id }}/push"> Push</a></li>
		  <li><a href="#"> Rich Push</a></li>
		  <li><a href="#"> In-App Purchase</a></li>
		  <li><a href="#"> Subscriptions</a></li>
		</ul>
	</div>
</div>
	</div>
    <div class="span8">
	<h1>Push message</h1>
		
		
		
		<ul class="nav nav-tabs">
			<li><a href="/project/{{ project.id }}/push">Push</a></li>
			<li class="active"><a href="/project/{{ project.id }}/history">Push history</a></li>
			<li><a href="/project/{{ project.id }}/info">Info</a></li>
		</ul>

		<table class="table table-striped">
    {% if all_messages %}
	<tr><th>Creation date</th><th>Content</th><th># users</th></tr>
	<tr>
	{% for pushmessage in all_messages %}
		<td>{{pushmessage.push_send}}</td><td>{{pushmessage.content}}</td><td>1337</td></tr><tr>
	{% endfor %}
	</tr>
    </table>

</div>
	</div>
{% endif %}
{% endif %}
{% endblock center_content %}
