{% extends "base.html" %}
{% block center_content %}
        {% if project %}
		<h1>Project {{project.name}}</h1>		
		 <div class="row-fluid">
    <div class="span4">
	<div class="sidebar-nav">
	<div class="well" style="width:300px; padding: 8px 0;">
		<ul class="nav nav-list">
		  <li class="active"><a href="/project/{{ project.id }}/"> Details</a></li>		
		  <li><a href="/project/{{ project.id }}/edit/"> Edit</a></li>
		  <li><a href="/project/{{ project.id }}/stats/"> Statistics</a></li>
          <li><a href="/project/{{ project.id }}/push/"> Push</a></li>
		  <li><a href="#"> Rich Push</a></li>
		  <li><a href="#"> In-App Purchase</a></li>
		  <li><a href="#"> Subscriptions</a></li>
		</ul>
	</div>
</div>
	</div>
    <div class="span8">
	
	{% if saved %}
	<div class="alert alert-success">
  Project succesfuly saved.
</div>
{% endif %}
	
	<table class="table table-striped">
    <tr>
		<td><b>Project name</b></td><td>{{ project.name}}</td></tr><tr>
		<td><b>API key</b></td><td>{{ project.key}}</td></tr><tr>
		
		<td><b>Date created</b></td><td>{{ project.create_date}}</td></tr><tr>
		<td><b>Android package</b></td><td>{{ project.android_package}}</td></tr><tr>
		<td><b>GCM Key</b></td><td>{{ project.android_gcm_key}}</td></tr><tr>
		
		<td><b>Pushes this month</b></td><td>{{ project.pushes_sent_month}}</td></tr><tr>
		<td><b>Pushes all time</b></td><td>{{ project.pushes_sent_all_time}}</td></tr><tr>
		<td><b>Created by</b></td><td>{{ project.user.username}}</td></tr>
    </table>
	</div>
	
	<div class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Modal header</h3>
  </div>
  <div class="modal-body">
    <p>One fine body</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn">Close</a>
    <a href="#" class="btn btn-primary">Save changes</a>
  </div>
</div>

<a href="#deleteProjectModal" role="button" class="btn btn-danger offset10" data-toggle="modal">Delete project</a>
 
<div id="deleteProjectModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">The danger zone</h3>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete the project: <b>{{project.name}}</b></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <a href="/project/{{ project.id }}/delete/" class="btn btn-danger">I'm sure, delete this project!</a>
  </div>
</div>
{% endif %}

<p><a href="/">Return to projects overview</a></p>
{% endblock center_content %}
