{% extends "base.html" %}
{% block center_content %}
{% if project %}
<h1>Project {{project.name}}</h1>		
<div class="row-fluid">
<div class="span4">
<div class="sidebar-nav">
<div class="well" style="width:300px; padding: 8px 0;">
<ul class="nav nav-list">
<li><a href="/project/{{ project.id }}/"> Details</a></li>		
<li class="active"><a href="/project/{{ project.id }}/edit/"> Edit</a></li>
<li><a href="/project/{{ project.id }}/stats/"> Statistics</a></li>
<li><a href="/project/{{ project.id }}/push/"> Push</a></li>
<li><a href="#"> Rich Push</a></li>
<li><a href="#"> In-App Purchase</a></li>
<li><a href="#"> Subscriptions</a></li>
</ul>
</div>
</div>
</div>
<div class="span8">

<form method="post" action="/project/{{ project.id }}/edit/">
{% csrf_token %}
<table class="table table-striped">
<tr>
<td><b>Project name</b></td><td><input type="text" id="name" name="name" value="{{ project.name}}"></td></tr><tr>
<td><b>API key</b></td><td>{{project.key}}</td></tr><tr>

<td><b>Date created</b></td><td>{{ project.create_date}}</td></tr><tr>
<td><b>Android package</b></td><td><input type="text" id="name" name="android_package" value="{{ project.android_package}}"></td></tr><tr>
<td><b>GCM Key</b></td><td><input type="text" id="name" name="android_gcm_key" value="{{ project.android_gcm_key}}">
<br \><a href="https://code.google.com/apis/console/#:access">https://code.google.com/apis/console/#:access</a></td></tr><tr>


<td><b>Pushes this month</b></td><td>{{ project.pushes_sent_month}}</td></tr><tr>
<td><b>Pushes all time</b></td><td>{{ project.pushes_sent_all_time}}</td></tr><tr>
<td><b>Created by</b></td><td><a href="#">{{ project.user.username}}</a></td></tr>
</table>

<div class="control-group">
<div class="controls">
<button type="submit" class="btn btn-primary">Update project</button>
</div>
</div>

</form>
</div>
{% endif %}

<p><a href="/">Return to projects overview</a></p>
{% endblock center_content %}
